
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/frettir.css">
	<title>Helstu fréttir</title>
</head>
<body> 
<link rel="stylesheet" href="/static/frettir.css">
<header class='haus'>
	{% include "header.html" %}
</header>
	<div class='group'>
		<section class="col1_2">
			<h3>Irma veldur usla á Flórída</h3>
			<img src='/static/mynd0.jpg'>
			<br>
			<br>
		</section>
		<section class="col1_2">
			<h3>Helstu þjófafréttir</h3>
			<ul>
				<li><a href='/frett/0'>Irma veldur usla á Flórída</a></li>
				<li><a href='/frett/1'>Veiðin er dræm þetta haustið</a></li>
				<li><a href='/frett/2'>Ólafía stendur sig vel</a></li>
				<li><a href='/frett/3'>Ísland dottið úr leik</a></li>
			</ul>
			<h6><b><i><a href='/'>Forsíða</a></i></b></h6>
		</section>
	</div>
<link rel="stylesheet" href="/static/frettir.css">
<footer class='fotur'>
	{% include "footer.html" %}
</footer>
</body>
</html>