<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verkefni 2 - þversumma</title>
    <link rel="stylesheet" href="/static/styles.css"
</head>
<body>
  <h2>Þversumma</h2>
  <p>Þversumma kennitölunnar <strong>{{ kt }}</strong> er <strong>{{ summa }}</strong></p>
  <a href="/a">Þversumma</a> |
  <a href="/">Aftur á forsíðu</a>
</body>
</html>