<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verkefni 2 - Vefforitun</title>
    <link rel="stylesheet" href="/static/styles.css"
</head>
<body>
    <h1>Þversumma kennitölu</h1>
    <ol>
        <li>Jón Jónsson: <a href="/kt-sida/2605884578">2605884578</a></li>
        <li>Guðrún Jónsdóttir: <a href="/kt-sida/1404892878">1404892878</a></li>
        <li>Laufey Erla: <a href="/kt-sida/1703003190">1703003190</a></li>
    </ol>
    <a href="/">Aftur á forsíðu</a>
</body>
</html>